<div class="col-sm-3" id="side-nav">
    <ul class="nav flex-column">
      <div class="form-index">
        <h4>Forms</h4>
        <% if @form_index.any? %>
          <ul class="sidebar-list">
            <% @form_index.each do |f| %>
              <li class="sidebar-item"><%= link_to f.name, f %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </ul>
    <div class="forms-form">
      <%= render 'forms_form'%>
    </div>
  </div>