<div class="row">
  <div class="col-sm-3" id="side-nav">
    <ul class="nav flex-column">
      <div class="widget-index">
        <li><a href="#">Widget 1</a></li>
      </div>
    </ul>
    <div class="widget-form">
      <%= render 'widget_form'%>
    </div>
  </div>
  <div class="col-sm-8">
  </div>
</div>
