<% content_for :resource_name do %>
  Widgets
<% end %>

<% content_for :resource_index do %>
  <% if @widgets.any? %>
    <ul class="sidebar-list">
      <% @widgets.each do |w| %>
        <li class="sidebar-item"><%= link_to w.name, w %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<div class="row">
  <%= render 'shared/side_nav' %>
  <div class="col-sm-8">
    Create a new widget or click on a widget to see that widget here.
  </div>
</div>