<%= render 'widget_sidebar_content' %>

<div class="row">
  <%= render 'shared/side_nav' %>
  <div class="col-sm-8">
    Create a new widget or click on a widget to see that widget here.
  </div>
</div>