<div class="row">
  <div class="col-sm-3" id="side-nav">
    <ul class="nav flex-column">
      <li><a href="#">Widget 1</a></li>
    </ul>
  </div>
  <div class="col-sm-8">
    <%= render 'widget_form'%>
  </div>
</div>
