<div class="row">
  <%= render 'shared/widget_side_nav' %>
  <div class="col-sm-8">
    <div class="row">
      <h1><%= @widget_current.name %></h1>
    </div>
    <div class="row">
      Widget Code: <%=  @widget_current.code %>
    </div>
  </div>
</div>