<div class="row">
  <%= render 'shared/widget_side_nav' %>
  <div class="col-sm-8">
    <ul>
      <li>Widget Name: <%= @widget_current.name %></li>
      <li>Widget Code: <%=  @widget_current.code %></li>
    </ul>
  </div>
</div>