<% content_for :resource_name do %>
  Integrations
<% end %>

<% content_for :resource_index do %>
  <% if @integrations.any? %>
    <ul class="sidebar-list">
      <% @integrations.each do |f| %>
        <li class="sidebar-item" style="display: flex;">
          <%= link_to "<i class=\"material-icons delete-icon\">delete</i>".html_safe,
            integration_path(f),
            method: :delete,
            data: { confirm: 'Are you sure you want to delete this?' },
            class: "delete-link",
            style: "display: inline-block; margin: -3px 4px 0 0;"
          %>
          <%= link_to f.name, f %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>