<% if @integrations.any? %>
  <ul class="sidebar-list">
    <% @integrations.each do |i| %>
      <li class="sidebar-item" style="display: flex; align-items: center; margin-bottom: 10px;">
        <div style="width: 24px; height: 24px; display: inline-block; margin-right: 8px;">
          <%= embedded_svg("#{i.app}") %>
        </div>

        <%= link_to i.name, i %>
        <%= link_to "x".html_safe,
          integration_path(i),
          method: :delete,
          data: { confirm: 'Are you sure you want to delete this?' },
          class: "btn ml-1 p-0!"
        %>
      </li>
    <% end %>
  </ul>
<% end %>
