<% content_for :resource_name do %>
  Forms
<% end %>

<% content_for :resource_index do %>
  <% if @forms.any? %>
    <ul class="sidebar-list">
      <% @forms.each do |f| %>
        <li class="sidebar-item"><%= link_to f.name, f %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<% content_for :resource_form do %>
  <%= render 'forms_form'%>
<% end %>