<<<<<<< HEAD
<%= render 'donation_form_sidebar_content' %>

<div class="row">
  <%= render 'shared/side_nav' %>
=======
<div class="row">
  <%= render 'shared/donation_form_side_nav' %>
>>>>>>> 9023df14e9a068a31be48f4654fee530b0157894
  <div class="col-sm-8">
    Create a new donation form or click on a donation form to see that form here.
  </div>
</div>