<%= render 'donation_form_sidebar_content' %>

<div class="row">
  <%= render 'shared/side_nav' %>
  <div class="col-sm-8">
    <%=
      react_component("add_integration_form",
        {
          app: @donation_form.app,
          data: @donation_form.url,
          name: @donation_form.name
        }
      )
    %>
  </div>
</div>
