@keyframes alert-fadeOut {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

@keyframes alert-squish {
  0% {
    height: auto;
  }
  100% {
    height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
}


.alert {
  display: block;
  border-radius: 6px;
  padding: .75em 1em;
  margin: 0 0 1em 0;
  transition: .5s all ease;

  &.alert--error {
  	border: 1px solid $red;
  	color: $red;
  	background: rgba($red, .2);
  }

  &.alert--success {
  	border: 1px solid $green;
  	color: $green;
  	background: rgba($green, .15);
  }

  &.fadeOut {
    animation: alert-fadeOut 1s 2s 1 forwards, alert-squish .5s 2.1s 1 forwards;
  }
}
