.btn {
  display: inline-block;
  background: $gray_500;
  padding: .75em .85em;
  border-radius: 4px;
  color: $gray_800;
  text-decoration: none;
  transition: .2s all ease;
  cursor: pointer;

  &:hover {
    background: $gray_400;
  }

  &.btn--primary {
    background: $royal_blue;
    color: #fff;

    &:hover {
      background: lighten($royal_blue, 5%);
    }

    &:disabled {
      background: $gray_300;
      color: $gray_600;
      cursor: not-allowed;
    }
  }
}
