.embed-details {
  padding: 1.5em 1.75em;
  border: 1px solid $gray_300;
  background: $gray_25;
  box-shadow: 0 5px 10px -5px  $gray_400;
  border-radius: 6px;
  overflow: hidden;

  h2 {
    display: inline-block;
    margin: 0;
    padding:0;
    color: $gray_800;
  }

  svg {
    height: 42px;
    width: 42px;
    display: inline-block;
    margin: 0 .75em 0 0;
  }
}

.embed-link {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;

  a.app {
    display: flex;
    align-items: center;
    color: $gray_800;
    text-decoration: none;
    font-weight: 700;
    transition: .2s all ease;

    &:hover {
      color: $gray_700;
    }

    svg {
      height: 32px;
      width: 32px;
      display: inline-block;
      margin: 0 8px 0 0;
    }
  }

  $deleteLinkSize: 20;

  a.delete {
    display: inline-flex;
    width: #{$deleteLinkSize}px;
    height: #{$deleteLinkSize}px;
    background: $gray_300;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin-left: 8px;

    & * {
      transition: .2s ease all;
    }

    svg {
      width: #{$deleteLinkSize - 10}px;
      height: #{$deleteLinkSize - 10}px;
      display: inline-block;

      * {
        fill: $gray_700;
      }
    }

    &:hover {
      background: $gray_400;

      svg * {
        fill: $gray_800;
      }
    }
  }
}
