html,
body {
	font-size: 100%;
	font-family: 'Lato', sans-serif;
	background: $gray_200;
	color: $gray_900;
}

.container {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
	height: 100%;
  background: #fff;
	padding-bottom: 2em;

  @include breakpoints(from-xs) {
		width: 90%;
    max-width: 1000px;
		box-shadow: 0 0 5px 3px $gray_300;
  }
}

h1 {
	color: $royal_blue;
	font-weight: 400;
}
