header {
  height: 220px;
  width: 100%;
  background: $royal_blue;
  background: linear-gradient(180deg, $royal_blue 0%, $azure 100%);
  margin-bottom: .5em;

  svg {
    display: inline-block;
    width: 300px;
    max-width: 70%;
  }
}

nav {
  background: $gray_800;
  box-sizing: border-box;
  padding: .75em 1em;

  a {
    text-decoration: none;
    color: #fff;
    padding: 2px 8px 3px 8px;
    border-radius: 12px;
    transition: .2s ease background-color;

    &:hover,
    &.selected {
      background-color: rgba($gray_700, .25);
    }

    &:hover {
      color: $gray_50;
    }
  }
}
