$gray_900: #212121;
$gray_800: #424242;
$gray_700: #737373;
$gray_600: #9E9E9E;
$gray_500: #BDBDBD;
$gray_400: #CECECE;
$gray_300: #E0E0E0;
$gray_200: #EEEEEE;
$gray_100: #F3F3F3;
$gray_50: #F7F7F7;
$gray_35: #F9F9F9;
$gray_25: #FAFAFA;
$gray_20: #FBFBFB;

$royal_blue: #3F75E5;
$azure: #32A0F0;
$light_cyan: adjust-color($azure, $lightness: 40%, $saturation: 10%);
$red: #e74c3c;
$green: 	#5cb85c;
