@import "bootstrap";

/* universal */

.container-fluid {
  padding-top: 20px;
}

/* Sidebar */

.index {
  margin-bottom: 30px;
}

.sidebar-list {
  padding-left: 20px;
}
.sidebar-item {
  list-style: none;
}