// Topbar
.top-bar {
  background-color: #C5C6C7;
  .menu {
    background-color: #C5C6C7;
  }
}

// Sidebar

#side-nav {
  margin: 0px;
  padding: 15px 10px 10px 10px;
  height: 90vh;
  background-color: #e6e6e6;
  li {
    list-style: none;
  }
  a {
    color: black;
  }
}