<div class="top-bar">
  <ul class="menu">
    <li class="menu-text">Carlsbad Church</li>
    <li><a href="#">Widgets</a></li>

    <!--- Forms will be available in a future update --->
    <!---- <li><a href="#">Forms</a></li> --->
  </ul>
</div>