<div class="top-bar">
  <ul class="dropdown menu" data-dropdown-menu>
    <li class="menu-text">Carlsbad Church</li>
    <li><a href="#">Widgets</a></li>
    <li>
      <a href="#">Item 1</a>
      <ul class="menu">
        <li><a href="#">Item 2</a></li>
        <li><a href="#">Item 3</a></li>
        <li><a href="#">Item 4</a></li>
      </ul>
    </li>

    <!--- Forms will be available in a future update --->
    <!---- <li><a href="#">Forms</a></li> --->
  </ul>
</div>