<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/head' %>
  <%= render 'layouts/header'%>

  <body>
    <div class="grid-container full">
      <div class="grid-x grid-margin-x">
        <div class="cell small-3" id="side-nav">
          <ul class="side-nav">
            <li><a href="#">Link 1</a></li>
          </ul>
        </div>
        <div class="cell small-9">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
